@model CollegeGradingSys.ViewModels.AllbatchCourseGradeViewModel

@{
    ViewData["Title"] = "درجات لمادة دراسية للدفعة";
}

<h1>درجات لمادة دراسية للدفعة</h1>


<hr class="my-4">
<div class="card mb-4">
    <div class="card-body">
        @using (Html.BeginForm("AllbatchCourseGrade", "CourseGrade", FormMethod.Get))
        {
            <div class="row ">
                <div class="form-group col-md-4">
                    <label class="control-label">العام</label>
                    <select id="AcademicYearList" name="AcademicYearId" class="form-control text-center "
                            asp-items="ViewBag.AcademicYearId"></select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">الدفعة</label>
                    <select id="BatchList" name="BatchId" class="form-control text-center"
                            asp-items="ViewBag.BatchId"></select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">المستوى</label>
                    <select id="LevelList" asp-for="Level" name="Level" class="form-control text-center"
                            asp-items="Html.GetEnumSelectList<Level>()">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">الفصل الدراسي</label>
                    <select id="TermList" asp-for="Term" name="Term" class="form-control text-center"
                            asp-items="Html.GetEnumSelectList<Term>()">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">نوع الفصل</label>
                    <select id="CourseType" asp-for="CourseType" name="CourseType" class="form-control text-center">
                        <option value="False">تكميلي</option>
                        <option selected="selected" value="True">عام</option>

                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">المادة</label>
                    <select id="CourseList" name="CourseId" class="form-control text-center"
                            asp-items="ViewBag.CourseId"></select>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">حالة الطالب للمادة</label>
                    <select id="StStatusForCourse" asp-for="StStatusForCourse" name="StStatusForCourse" class="form-control text-center"
                            asp-items="Html.GetEnumSelectList<StStatusForCourse>()">
                        <option selected="selected" value="-1">-- الكل --</option>
                    </select>
                </div>
                <hr class="my-4">
            </div>
            <div class="container">
                <input type="submit" value="بحث" class="btn btn-secondary col-2 btn-sm" />
               
            </div>


        }
    </div>
</div>
<hr class="my-4">
<div class="p-2 p-md-2 mb-2 text-white rounded bg-dark">
    <h1 class=" text-center my-1">
        اسم المادة <span>@Model.courseName</span>
    </h1>
   
</div>
<div class=" container">
    <span class="badge bg-info  ">ناجح</span>
    <span class="badge bg-danger  ">راسب</span>
    <span class="badge bg-success  ">غائب</span>
    <span class="badge bg-primary  ">محروم</span>
    <span class="badge bg-warning  ">غير محدد</span>
</div>
<hr class="my-4">
<div class="row table-responsive justify-content-center">
    <div class="col-auto">
        <table class="table  table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="auto">
                        م
                    </th>
                    <th scope="auto">
                        <span>رقم القيد</span>
                    </th>
                    <th class="col-2" scope="col">
                        <span>اسم الطالب</span>
                    </th>
                    <th class="col-2" scope="col">
                        الدرجة
                    </th>
                    <th scope="col">
                        حالة الطالب للمادة
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int no = 0;
                }

                @foreach (var item in Model.CourseGrades)
                {
                    no++;
                    string selectedRow = "";
                    if (item.Course.IsSubCourse == true)
                    {
                        selectedRow = "bg-secondary";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @no
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StAcademicData.StPersonalData.AcademicID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StAcademicData.StPersonalData.StName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                        <td class="">
                            @switch (item.StStatusForCourse)
                            {
                                case StStatusForCourse.غير_محدد:
                                    <span class="badge bg-warning text-center ">@item.StStatusForCourse</span>
                                    break;
                                case StStatusForCourse.محروم:
                                    <span class="badge bg-primary text-center">@item.StStatusForCourse</span>
                                    break;
                                case StStatusForCourse.ناجح:
                                    <span class="badge bg-info text-center">@item.StStatusForCourse</span>
                                    break;
                                case StStatusForCourse.راسب:
                                    <span class="badge bg-danger text-center">@item.StStatusForCourse</span>
                                    break;
                                case StStatusForCourse.غائب:
                                    <span class="badge bg-success text-center">@item.StStatusForCourse</span>
                                    break;
                            }
                        </td>
                        <td>
                            <!-- Modal placeholder -->
                            <div id="modal-placeholder"></div>
                            <button type="button" class="btn btn-primary btn-sm align-self-center " data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Edit","CourseGrade",new { id = item.Id })">
                                تعديل
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $("#AcademicYearList").on("change", function () {
            var url = '@Url.Content("~/")' + "CourseGrade/GetBatchs";
            var ddlsource = "#AcademicYearList";
            var selectedId = '';
            $.getJSON(url, { academicYearId: $(ddlsource).val() }, function (data) {
                var items = '';
               
                $("#BatchList").empty();
                $.each(data, function (i, row) {                   
                    if (i == 0) {                       
                        selectedId = row.value;
                    }
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#BatchList").html(items);
                fullCourseList(selectedId);
            })
           
        })
        $("#BatchList").on("change", function () {
            var Batchsource = "#BatchList";            
            fullCourseList($(Batchsource).val());
        })
        $("#TermList").on("change", function () {
            var Batchsource = "#BatchList";
            fullCourseList($(Batchsource).val());
        })
        $("#LevelList").on("change", function () {
            var Batchsource = "#BatchList";
            fullCourseList($(Batchsource).val());
        })
        function fullCourseList(Id) {
            
             var url = '@Url.Content("~/")' + "CourseGrade/GetCoursess";
           
            var Termsource = "#TermList";
            var Levelsource = "#LevelList";
            $.getJSON(url, { batchId: Id, level: $(Levelsource).val(), term: $(Termsource).val()}, function (data) {
                var items = '';
                    $("#CourseList").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#CourseList").html(items);
            })
        }
    })
</script>
}


