@using CollegeGradingSys.Models.Enums
@using CollegeGradingSys.ViewModels.Batch
@model BatchCourseGradeUploadVM
@{
    ViewData["Title"] = "درجات لمادة دراسية للدفعة";
    ViewData["PageName"] = "ادارةالدرجات";
    //ViewData["SubPageName"] = "درجات لمادة دراسية للدفعة";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header ">
                <h3 class="card-title">
                    درجات لمادة دراسية للدفعة
                </h3>
            </div>
            <!-- /.card-header -->

            @if (ViewBag.Message != null)
            {
                <h5 class="alert alert-warning">@ViewBag.Message</h5>
            }
            <form asp-action="BatchCourseGradeUpload" asp-controller="CourseGrade" method="post" id="create-form" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row ">
                        <div class="form-group col-md-4">
                            <label class="control-label">العام</label>
                            <input type="hidden" name="AcademicYearId" value="@ViewBag.AcademicYearId" />
                            <select id="AcademicYearList" disabled class="form-control disabled text-center "
                                    asp-items="ViewBag.AcademicYearsList"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">الدفعة</label>
                            <input type="hidden" name="BatchId" value="@ViewBag.BatchId" />
                            <select id="BatchList" name="BatchId" disabled class="form-control disabled text-center"
                                    asp-items="ViewBag.BatchsList"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">المستوى</label>
                            <input type="hidden" name="Level" value="@Model.Level" />
                            <select id="LevelList" asp-for="Level" name="Level" disabled class="form-control disabled text-center"
                                    asp-items="Html.GetEnumSelectList<Level>()">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">الفصل الدراسي</label>
                            <input type="hidden" name="Term" value="@Model.Term" />
                            <select id="TermList" asp-for="Term" name="Term" disabled class="form-control disabled text-center"
                                    asp-items="Html.GetEnumSelectList<Term>()">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">نوع الفصل</label>
                            <input type="hidden" name="CourseType" asp-for="CourseType" value="@Model.CourseType" />
                            <select id="CourseType" asp-for="CourseType" name="CourseType" disabled class="form-control disabled text-center">
                                <option value="False">تكميلي</option>
                                <option selected="selected" value="True">عام</option>

                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">المادة</label>
                            <input type="hidden" name="CourseId" value="@ViewBag.CourseId" />
                            <select id="CourseList" name="CourseId" disabled class="form-control disabled text-center"
                                    asp-items="ViewBag.CourseList"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">حالة الطالب للمادة</label>
                            <input type="hidden" name="StStatusForCourse" value="@Model.StStatusForCourse" />
                            <select id="StStatusForCourse" asp-for="StStatusForCourse" name="StStatusForCourse" disabled class="form-control disabled text-center"
                                    asp-items="Html.GetEnumSelectList<StStatusForCourse>()">
                                <option value="-1">-- الكل --</option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label">
                                استعراض:
                            </label>
                            <div class="form-group ">                               
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" asp-for="BatchGrades" required class="custom-file-input" id="exampleInputFile" />
                                        <label class="custom-file-label" asp-for="BatchGrades">اختر ملف</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-upload"></span>
                                        </div>
                                    </div>
                                </div>
                                @*<label asp-for="UplaodedFile" class="control-label"></label>
                                    <div class="custom-file">
                                        <input asp-for="UplaodedFile" required  class="form-control custom-file-input" />

                                    </div>  *@
                            </div>
                            @*<input id="batchGrades" name="batchGrades" class="form-control" type="file" tabindex="14">*@
                            <span class="form-text text-muted">أنواع الملفات المسموح بها :  xlsx, xls.</span>
                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" id="BtnUploadFile" class="btn btn-secondary col-2 btn-sm">استيراد</button>

                </div>

            </form>
        </div>

        <form asp-controller="CourseGrade" asp-action="BatchCourseGradeXlsxUpdate" method="post">
            <div class="row">
                <div class=" col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="p-2 p-md-2 mb-2  rounded">
                                <h1 class=" text-center my-1">
                                    اسم المادة <span>@Model.CourseName</span>
                                </h1>

                            </div>
                            <div class=" container mb-2">
                                <span class="badge bg-info  ">ناجح</span>
                                <span class="badge bg-danger  ">راسب</span>
                                <span class="badge bg-success  ">غائب</span>
                                <span class="badge bg-primary  ">محروم</span>
                                <span class="badge bg-warning  ">غير محدد</span>
                            </div>

                            <table class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 2%;">
                                            م
                                        </th>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 15%;">
                                            <span>رقم القيد</span>
                                        </th>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 30%;">
                                            <span>اسم الطالب</span>
                                        </th>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 20%;">
                                            الدرجة
                                        </th>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 18%;">
                                            حالة الطالب للمادة
                                        </th>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 15%;">
                                            ملاحظة
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @{
                                        int no = 0;
                                    }

                                    @foreach (var item in Model.CourseGrades)
                                    {
                                        no++;
                                        string selectedRow = "";
                                        if (item.Course.IsSubCourse == true)
                                        {
                                            selectedRow = "bg-secondary";
                                        }
                                        <tr class="@selectedRow">

                                            <td class="text-center" style="vertical-align: middle;">
                                                @no
                                                <input asp-for="CourseGrades[no-1].Id" type="hidden" />
                                                <input asp-for="CourseGrades[no-1].IsGradeChange" type="hidden" />
                                                <input asp-for="CourseGrades[no-1].Course.IsSubCourse" type="hidden" />
                                                <input asp-for="CourseGrades[no-1].Course.ParentId" type="hidden" />
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <input asp-for="CourseGrades[no-1].AcademicID" type="hidden" />
                                                @Html.DisplayFor(modelItem => item.AcademicID)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <input asp-for="CourseGrades[no-1].StName" type="hidden" />
                                                @Html.DisplayFor(modelItem => item.StName)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <input asp-for="CourseGrades[no-1].Grade" type="hidden" />
                                                @Html.DisplayFor(modelItem => item.Grade)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @switch (item.StStatusForCourse)
                                                {
                                                    case StStatusForCourse.غير_محدد:
                                                        <span class="badge bg-warning text-center ">@item.StStatusForCourse</span>

                                                        break;
                                                    case StStatusForCourse.محروم:
                                                        <span class="badge bg-primary text-center">@item.StStatusForCourse</span>
                                                        break;
                                                    case StStatusForCourse.ناجح:
                                                        <span class="badge bg-info text-center">@item.StStatusForCourse</span>
                                                        break;
                                                    case StStatusForCourse.راسب:
                                                        <span class="badge bg-danger text-center">@item.StStatusForCourse</span>
                                                        break;
                                                    case StStatusForCourse.غائب:
                                                        <span class="badge bg-success text-center">@item.StStatusForCourse</span>
                                                        break;
                                                }
                                                <input asp-for="CourseGrades[no-1].StStatusForCourse" type="hidden" />
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.Note)
                                                @if (item.IsGradeChange)
                                                {
                                                    <span>تم تغير درجة الطالب </span>
                                                }

                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="حفظ التغيرات" class="btn btn-success col-2 btn-sm" />
                            <a asp-action="AllbatchCourseGrade" asp-controller="CourseGrade" class="btn btn-secondary btn-sm">القائمة الرئسية</a>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- /.content -->

@section Scripts {   
    <script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
}