@model CollegeGradingSys.Models.StHighSchoolData
<!-- Modal -->
<div class="modal fade " id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <form asp-action="Delete">
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <input type="hidden" asp-for="AcademicID" />
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="addContactLabel">حذف بيانات الثانوية</h5>
                </div>
                <div class="modal-body row">
                    <h4>هل تريد بالفعل حذف بيانات الثانوية ؟!!</h4>
                    <dl class="row m-3">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CertificateType)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.CertificateType)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Average)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Average)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Source)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Source)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.SeatNo)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.SeatNo)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CertificateYear)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.CertificateYear)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.HighSchoolName)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.HighSchoolName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Note)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Note)
                        </dd>
                        @*<dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.StPersonalData)
                        </dt>*@
                        @*<dd class="col-sm-7">
                            @Html.DisplayFor(model => model.StPersonalData.EnrollmentYearH)
                        </dd>*@
                    </dl>




                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" data-save="modal" class="btn btn-danger btn-sm ">حذف</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">إلغاء الأمر</button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

