@model UserClaimsViewModel
@using CollegeGradingSys.ViewModels.Adminstration
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "حسابات المستخدمين";
    ViewData["PageName"] = "حسابات المستخدمين";
    ViewData["SubPageName"] = "إضافة/حذف صلاحية لهذه المستخدم ";
}

 <!-- Main content -->
    <section class="content">
      <div class="container-fluid">  
          <div class="col-md-12">
              <form method="post">
                  <div class="card col-md-12">
                      <div class="card-header">
                          <h6>
                              إضافة/حذف صلاحية لهذه المستخدم
                          </h6>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <thead>

                                  <tr>

                                      <th scope="col" class=" col-3 th-font-size text-center" style="vertical-align: middle;">
                                          الشاشة
                                      </th>



                                      <th></th>
                                  </tr>

                              </thead>
                              <tbody>
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              تسجيل مستخدم جديد
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[0].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[0].ClaimValue" />
                                                      <input asp-for="@Model.Claims[0].IsSelected" class="form-check-input" />
                                                      <label class="form-check-label td-font-size" asp-for="@Model.Claims[0].IsSelected">
                                                          @Model.Claims[0].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[1].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[1].ClaimValue" />
                                                      <input asp-for="@Model.Claims[1].IsSelected" class="form-check-input" />
                                                      <label class="form-check-label td-font-size" asp-for="@Model.Claims[1].IsSelected">
                                                          @Model.Claims[1].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[2].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[2].ClaimValue" />
                                                      <input asp-for="@Model.Claims[2].IsSelected" class="form-check-input" />
                                                      <label class="form-check-label td-font-size" asp-for="@Model.Claims[2].IsSelected">
                                                          @Model.Claims[2].ClaimValue
                                                      </label>
                                                  </div>
                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[0].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[0].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[0].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[1].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[1].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[1].IsSelected" value="false" />



                                      <input type="hidden" asp-for="@Model.Claims[2].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[2].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[2].IsSelected" value="false" />



                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              تعديل حساب
                                          </td>

                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-3 form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[3].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[3].ClaimValue" />
                                                      @if ((await authorizationService.AuthorizeAsync(User, "ManageUserRolesPolicy")).Succeeded)
                                                      {
                                                          <input asp-for="@Model.Claims[3].IsSelected" class="form-check-input" />
                                                          <label class=" form-check-label td-font-size" asp-for="@Model.Claims[3].IsSelected">
                                                              @Model.Claims[3].ClaimValue
                                                          </label>
                                                      }
                                                      else
                                                      {
                                                          <input type="hidden" asp-for="@Model.Claims[3].IsSelected" value="false" />
                                                      }
                                                  </div>

                                                  <div class="col-3 form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[4].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[4].ClaimValue" />
                                                      <input asp-for="@Model.Claims[4].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[4].IsSelected">
                                                          @Model.Claims[4].ClaimValue
                                                      </label>
                                                  </div>


                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[3].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[3].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[3].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[4].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[4].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[4].IsSelected" value="false" />


                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              النسخ الاحتياطي لقاعدة البيانات
                                          </td>

                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-3 form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[5].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[5].ClaimValue" />
                                                      <input asp-for="@Model.Claims[5].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[5].IsSelected">
                                                          @Model.Claims[5].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-3 form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[6].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[6].ClaimValue" />
                                                      <input asp-for="@Model.Claims[6].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[6].IsSelected">
                                                          @Model.Claims[6].ClaimValue
                                                      </label>
                                                  </div>


                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[5].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[5].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[5].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[6].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[6].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[6].IsSelected" value="false" />


                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              إدارة الكليات
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[7].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[7].ClaimValue" />
                                                      <input asp-for="@Model.Claims[7].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[7].IsSelected">
                                                          @Model.Claims[7].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[8].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[8].ClaimValue" />
                                                      <input asp-for="@Model.Claims[8].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[8].IsSelected">
                                                          @Model.Claims[8].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[9].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[9].ClaimValue" />
                                                      <input asp-for="@Model.Claims[9].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[9].IsSelected">
                                                          @Model.Claims[9].ClaimValue
                                                      </label>
                                                  </div>
                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[7].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[7].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[7].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[8].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[8].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[8].IsSelected" value="false" />



                                      <input type="hidden" asp-for="@Model.Claims[9].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[9].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[9].IsSelected" value="false" />



                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              إدارة الاقسام
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[10].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[10].ClaimValue" />
                                                      <input asp-for="@Model.Claims[10].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[10].IsSelected">
                                                          @Model.Claims[10].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[11].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[11].ClaimValue" />
                                                      <input asp-for="@Model.Claims[11].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[11].IsSelected">
                                                          @Model.Claims[11].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[12].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[12].ClaimValue" />
                                                      <input asp-for="@Model.Claims[12].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[12].IsSelected">
                                                          @Model.Claims[12].ClaimValue
                                                      </label>
                                                  </div>
                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[10].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[10].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[10].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[11].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[11].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[11].IsSelected" value="false" />



                                      <input type="hidden" asp-for="@Model.Claims[12].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[12].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[12].IsSelected" value="false" />



                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              إدارة التخصصات
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[13].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[13].ClaimValue" />
                                                      <input asp-for="@Model.Claims[13].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[13].IsSelected">
                                                          @Model.Claims[13].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[14].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[14].ClaimValue" />
                                                      <input asp-for="@Model.Claims[14].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[14].IsSelected">
                                                          @Model.Claims[14].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[15].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[15].ClaimValue" />
                                                      <input asp-for="@Model.Claims[15].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[15].IsSelected">
                                                          @Model.Claims[15].ClaimValue
                                                      </label>
                                                  </div>

                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[13].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[13].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[13].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[14].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[14].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[14].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[15].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[15].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[15].IsSelected" value="false" />





                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              إدارة الدول والجنسيات
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[16].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[16].ClaimValue" />
                                                      <input asp-for="@Model.Claims[16].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[16].IsSelected">
                                                          @Model.Claims[16].ClaimValue
                                                      </label>
                                                  </div>
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[17].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[17].ClaimValue" />
                                                      <input asp-for="@Model.Claims[17].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[17].IsSelected">
                                                          @Model.Claims[17].ClaimValue
                                                      </label>
                                                  </div>
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[18].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[18].ClaimValue" />
                                                      <input asp-for="@Model.Claims[18].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[18].IsSelected">
                                                          @Model.Claims[18].ClaimValue
                                                      </label>
                                                  </div>


                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[16].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[16].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[16].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[17].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[17].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[17].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[18].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[18].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[18].IsSelected" value="false" />







                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start  td-font-size">
                                              إدارة المحافظات
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[19].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[19].ClaimValue" />
                                                      <input asp-for="@Model.Claims[19].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[19].IsSelected">
                                                          @Model.Claims[19].ClaimValue
                                                      </label>
                                                  </div>
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[20].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[20].ClaimValue" />
                                                      <input asp-for="@Model.Claims[20].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[20].IsSelected">
                                                          @Model.Claims[20].ClaimValue
                                                      </label>
                                                  </div>
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[21].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[21].ClaimValue" />
                                                      <input asp-for="@Model.Claims[21].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[21].IsSelected">
                                                          @Model.Claims[21].ClaimValue
                                                      </label>
                                                  </div>



                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[19].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[19].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[19].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[20].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[20].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[20].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[21].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[21].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[21].IsSelected" value="false" />






                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              إدارة العام الجامعي
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[22].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[22].ClaimValue" />
                                                      <input asp-for="@Model.Claims[22].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[22].IsSelected">
                                                          @Model.Claims[22].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[23].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[23].ClaimValue" />
                                                      <input asp-for="@Model.Claims[23].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[23].IsSelected">
                                                          @Model.Claims[23].ClaimValue
                                                      </label>
                                                  </div>
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[24].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[24].ClaimValue" />
                                                      <input asp-for="@Model.Claims[24].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[24].IsSelected">
                                                          @Model.Claims[24].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[25].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[25].ClaimValue" />
                                                      <input asp-for="@Model.Claims[25].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[25].IsSelected">
                                                          @Model.Claims[25].ClaimValue
                                                      </label>
                                                  </div>



                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {
                                      <input type="hidden" asp-for="@Model.Claims[22].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[22].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[22].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[23].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[23].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[23].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[24].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[24].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[24].IsSelected" value="false" />



                                      <input type="hidden" asp-for="@Model.Claims[25].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[25].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[25].IsSelected" value="false" />




                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start  td-font-size">
                                              إدارة الدفعات
                                          </td>


                                          <td class="text-start td-font-size">
                                              <div class="row col-12 mx-3">
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[26].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[26].ClaimValue" />
                                                      <input asp-for="@Model.Claims[26].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[26].IsSelected">
                                                          @Model.Claims[26].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[27].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[27].ClaimValue" />
                                                      <input asp-for="@Model.Claims[27].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[27].IsSelected">
                                                          @Model.Claims[27].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[28].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[28].ClaimValue" />
                                                      <input asp-for="@Model.Claims[28].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[28].IsSelected">
                                                          @Model.Claims[28].ClaimValue
                                                      </label>
                                                  </div>


                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {

                                      <input type="hidden" asp-for="@Model.Claims[26].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[26].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[26].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[27].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[27].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[27].IsSelected" value="false" />



                                      <input type="hidden" asp-for="@Model.Claims[28].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[28].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[28].IsSelected" value="false" />





                                  }
                                  @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                  {
                                      <tr>

                                          <td class="text-start td-font-size">
                                              إدارة المواد
                                          </td>


                                          <td class="text-start">
                                              <div class="row col-12 mx-3">

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[29].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[29].ClaimValue" />
                                                      <input asp-for="@Model.Claims[29].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[29].IsSelected">
                                                          @Model.Claims[29].ClaimValue
                                                      </label>
                                                  </div>
                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[30].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[30].ClaimValue" />
                                                      <input asp-for="@Model.Claims[30].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[30].IsSelected">
                                                          @Model.Claims[30].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[31].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[31].ClaimValue" />
                                                      <input asp-for="@Model.Claims[31].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[31].IsSelected">
                                                          @Model.Claims[31].ClaimValue
                                                      </label>
                                                  </div>

                                                  <div class="col-auto form-check m-1">
                                                      <input type="hidden" asp-for="@Model.Claims[32].ClaimType" />
                                                      <input type="hidden" asp-for="@Model.Claims[32].ClaimValue" />
                                                      <input asp-for="@Model.Claims[32].IsSelected" class="form-check-input" />
                                                      <label class=" form-check-label td-font-size" asp-for="@Model.Claims[32].IsSelected">
                                                          @Model.Claims[32].ClaimValue
                                                      </label>
                                                  </div>



                                              </div>

                                          </td>
                                      </tr>
                                  }
                                  else
                                  {
                                      <input type="hidden" asp-for="@Model.Claims[29].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[29].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[29].IsSelected" value="false" />


                                      <input type="hidden" asp-for="@Model.Claims[30].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[30].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[30].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[31].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[31].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[31].IsSelected" value="false" />

                                      <input type="hidden" asp-for="@Model.Claims[32].ClaimType" />

                                      <input type="hidden" asp-for="@Model.Claims[32].ClaimValue" />

                                      <input type="hidden" asp-for="@Model.Claims[32].IsSelected" value="false" />


                                  }
                                @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                {
                                    <tr>
                                        <td class="text-start td-font-size">إدارة بيانات الطلاب</td>
                                        <td class="text-start">
                                            <div class="row col-12 mx-3">
                                                @for (int i = 33; i <= 36; i++)
                                                {
                                                    <div class="col-auto form-check m-1">
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                                                        <label class="form-check-label td-font-size" asp-for="@Model.Claims[i].IsSelected">
                                                            @Model.Claims[i].ClaimValue
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @for (int i = 33; i <= 36; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                        <input type="hidden" asp-for="@Model.Claims[i].IsSelected" value="false" />
                                    }
                                }

                                @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                {
                                    <tr>
                                        <td class="text-start td-font-size">تصدير التقارير والكشوفات</td>
                                        <td class="text-start">
                                            <div class="row col-12 mx-3">
                                                @for (int i = 37; i <= 41; i++)
                                                {
                                                    <div class="col-auto form-check m-1">
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                                                        <label class="form-check-label td-font-size" asp-for="@Model.Claims[i].IsSelected">
                                                            @Model.Claims[i].ClaimValue
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @for (int i = 37; i <= 41; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                        <input type="hidden" asp-for="@Model.Claims[i].IsSelected" value="false" />
                                    }
                                }

                                @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                {
                                    <tr>
                                        <td class="text-start td-font-size">السجل الأكاديمي والوثائق</td>
                                        <td class="text-start">
                                            <div class="row col-12 mx-3">
                                                @for (int i = 42; i <= 49; i++)
                                                {
                                                    <div class="col-auto form-check m-1">
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                                                        <label class="form-check-label td-font-size" asp-for="@Model.Claims[i].IsSelected">
                                                            @Model.Claims[i].ClaimValue
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @for (int i = 42; i <= 49; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimValue" />
                                        <input type="hidden" asp-for="@Model.Claims[i].IsSelected" value="false" />
                                    }
                                }

                                @if (@Model.UserRoles.Any(x => x == "Owner" || x == "Admin"))
                                {
                                    <tr>
                                        <td class="text-start td-font-size">درجات الطلاب</td>
                                        <td class="text-start">
                                            <div class="row col-12 mx-3">
                                                <div class="col-auto form-check m-1">
                                                    <input type="hidden" asp-for="@Model.Claims[50].ClaimType" />
                                                    <input type="hidden" asp-for="@Model.Claims[50].ClaimValue" />
                                                    <input asp-for="@Model.Claims[50].IsSelected" class="form-check-input" />
                                                    <label class="form-check-label td-font-size" asp-for="@Model.Claims[50].IsSelected">
                                                        @Model.Claims[50].ClaimValue
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <input type="hidden" asp-for="@Model.Claims[50].ClaimType" />
                                    <input type="hidden" asp-for="@Model.Claims[50].ClaimValue" />
                                    <input type="hidden" asp-for="@Model.Claims[50].IsSelected" value="false" />
                                }
                              </tbody>
                          </table>
                      </div>
                      <div class="card-footer">
                          <input type="submit" value="تعديل" class="btn col-2 btn-success btn-sm" />
                          <a class="btn btn-secondary   btn-sm" asp-action="EditUser" asp-route-id="@Model.UserId">إلغاء الامر</a>
                      </div>
                  </div>
              </form>
          </div>
     </div>
  </section>
    <!-- /.content -->