@model CollegeGradingSys.Models.StPersonalData

@{
    ViewData["Title"] = "حذف طالب";
}
<div class="card mb-4">
    <div class="card-body">
        <div class="bg-white">
            <h5 class="mb-4">  <span style="margin-left:6px;" data-feather="delete"></span>البيانات الشخصية للطلاب</h5>
            <h6 class="m-1">حذف طالب</h6>
            <hr class="mb-4 mt-0">
            <div class="row">
                <h4>هل تريد بالفعل حذف الطالب ؟!!</h4>
                <div>
                    <hr />
                    @if (ViewBag.Message != null)
                    {
                        <h5 class="alert alert-danger">@ViewBag.Message</h5>
                    }
                    <div class="row my-5">
                        <div class="col-sm-2 my-2">
                            @Html.DisplayNameFor(model => model.AcademicID)
                        </div>
                        <div class="col-sm-10 my-2">
                            @Html.DisplayFor(model => model.AcademicID)
                        </div>
                        <div class="col-sm-2 my-2">
                            @Html.DisplayNameFor(model => model.StName)
                        </div>
                        <div class="col-sm-10 my-2">
                            @Html.DisplayFor(model => model.StName)
                        </div>
                        <div class="col-sm-2 my-2">
                            @Html.DisplayNameFor(model => model.IdentificatioNO)
                        </div>
                        <div class="col-sm-10 my-2">
                            @Html.DisplayFor(model => model.IdentificatioNO)
                        </div>
                        <div class="col-sm-2 my-2">
                            @Html.DisplayNameFor(model => model.Sex)
                        </div>
                        <div class="col-sm-10 my-2">
                            @Html.DisplayFor(model => model.Sex)
                        </div>
                        <div class="col-sm-2 my-2">
                            @Html.DisplayNameFor(model => model.BirthDate)
                        </div>
                        <div class="col-sm-10 my-2">
                            @Html.DisplayFor(model => model.BirthDate)

                        </div>
                    </div>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="AcademicID" />
                        <input type="submit" value="حذف" class="btn btn-danger btn-sm " />
                        <a class="btn btn-secondary  btn-sm" asp-action="Index">إلغاء الامر</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>