@model CollegeGradingSys.Models.StPersonalData

@{
    ViewData["Title"] = "حذف طالب";
    ViewData["PageName"] = "البيانات الشخصية للطلاب";
    //ViewData["SubPageName"] = "حذف طالب";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid ">
        <div class="row">
            <div class="card card-outline px-0 card-danger col-md-8 offset-md-2">
                <div class="card-body">
                    <div class="row mx-3 ">
                        <h4>هل تريد بالفعل حذف الطالب ؟!!</h4>
                        <div class="col-12">
                            <hr />
                            @if (ViewBag.Message != null)
                            {
                                <h5 class="alert alert-danger">@ViewBag.Message</h5>
                            }
                            <div class="row my-4">
                                <div class="col-sm-3 my-2">
                                    @Html.DisplayNameFor(model => model.AcademicID)
                                </div>
                                <div class="col-sm-9 my-2">
                                    @Html.DisplayFor(model => model.AcademicID)
                                </div>
                                <div class="col-sm-3 my-2">
                                    @Html.DisplayNameFor(model => model.StName)
                                </div>
                                <div class="col-sm-9 my-2">
                                    @Html.DisplayFor(model => model.StName)
                                </div>
                                <div class="col-sm-3 my-2">
                                    @Html.DisplayNameFor(model => model.IdentificatioNO)
                                </div>
                                <div class="col-sm-9 my-2">
                                    @Html.DisplayFor(model => model.IdentificatioNO)
                                </div>
                                <div class="col-sm-3 my-2">
                                    @Html.DisplayNameFor(model => model.Sex)
                                </div>
                                <div class="col-sm-9 my-2">
                                    @Html.DisplayFor(model => model.Sex)
                                </div>
                                <div class="col-sm-3 my-2">
                                    @Html.DisplayNameFor(model => model.BirthDate)
                                </div>
                                <div class="col-sm-9 my-2">
                                    @Html.DisplayFor(model => model.BirthDate)

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="AcademicID" />
                        <input type="submit" value="حذف" class="btn btn-danger btn-sm " />
                        <a class="btn btn-secondary  btn-sm" asp-action="Index">إلغاء الامر</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>