@model CollegeGradingSys.Models.StPersonalData


@{
    ViewData["Title"] = "التفصيل";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            البيانات الشخصية للطالب
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4 my-2">
                                @Html.DisplayNameFor(model => model.AcademicID)
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.AcademicID)
                            </div>
                            <div class="col-sm-4 my-2">
                                @Html.DisplayNameFor(model => model.StName)
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.StName)
                            </div>
                            <div class="col-sm-4 my-2">
                                @Html.DisplayNameFor(model => model.IdentificatioNO)
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.IdentificatioNO)
                            </div>
                            <div class="col-sm-4 my-2">
                                @Html.DisplayNameFor(model => model.Sex)
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.Sex)
                            </div>
                            <div class="col-sm-4 my-2">
                                <span>مكان الميلاد ( </span>
                                @Html.DisplayNameFor(model => model.Birthcountry.CountryName)
                                <span>) </span>
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.Birthcountry.CountryName)
                            </div>
                            <div class="col-sm-4 my-2">
                                <span>مكان الميلاد ( </span>
                                @Html.DisplayNameFor(model => model.BirthGovernorate.GovernorateName)
                                <span>) </span>
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.BirthGovernorate.GovernorateName)
                            </div>
                            <div class="col-sm-4 my-2">
                                @Html.DisplayNameFor(model => model.BirthDate)
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.BirthDate)
                            </div>
                            <div class="col-sm-4 my-2">
                                <span>سنة الالتحاق بالميلادي</span>
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.EnrollmentYear.AcademicYearName)
                            </div>
                            <div class="col-sm-4 my-2">
                                <span>سنة الالتحاق بالهجري</span>
                            </div>
                            <div class="col-sm-7 my-2">
                                @Html.DisplayFor(model => model.EnrollmentYear.AcademicYearNameH)

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" class="btn btn-success btn-sm align-self-center" asp-route-id="@Model.AcademicID">تعديل</a>
                    </div>
                </div>
            </div>

            @if (@Model.StHighSchoolData != null)
            {
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" style="cursor: move;">
                            <h3 class="card-title">
                                بيانات شهادة الثانوية
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.CertificateType)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.CertificateType)
                                </div>
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.Average)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.Average)
                                </div>
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.Source)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.Source)
                                </div>
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.SeatNo)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.SeatNo)
                                </div>
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.CertificateYear)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.CertificateYear)
                                </div>
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.HighSchoolName)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.HighSchoolName)
                                </div>
                                <div class="col-sm-4 my-2">
                                    @Html.DisplayNameFor(model => model.StHighSchoolData.Note)
                                </div>
                                <div class="col-sm-7 my-2">
                                    @Html.DisplayFor(model => model.StHighSchoolData.Note)
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- Modal placeholder -->
                            <div id="modal-placeholder"></div>

                            <button type="button" class="btn btn-success btn-sm align-self-center" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Edit","StHighSchoolData", new { id = Model.AcademicID })">
                                تعديل
                            </button>
                            <button type="button" class="btn btn-danger align-self-center btn-sm" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Delete","StHighSchoolData", new { id = Model.AcademicID })">
                                حذف
                            </button>
                        </div>
                    </div>
                </div>


            }
            else
            {
                @if (ViewData["AcademicID"] != null)
                {
                    <p>

                    </p>
                }
            }

        </div>
        <div class="row">
            <div class="col-12 mb-4">
                <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
            </div>
        </div>
    </div>          
</section>