@model CollegeGradingSys.ViewModels.StPersonalDataViewModel


@{
    ViewData["Title"] = "التعديل";
}

<div class="card mb-4">
    <div class="card-body">
        <div class="bg-white">
            <h5 class="mb-4">  <span style="margin-left:6px;" data-feather="edit"></span>البيانات الشخصية للطلاب</h5>
            <h6 class="m-1">التعديل</h6>
            <hr class="mb-4 mt-0">
            <div class="row">
                <div class="col-md-12 ">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="AcademicID" />
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="AcademicID" class="control-label"></label>
                                <input asp-for="AcademicID" class="form-control text-center" disabled />
                                <span asp-validation-for="AcademicID" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="StName" class="control-label"></label>
                                <input asp-for="StName" class="form-control" />
                                <span asp-validation-for="StName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="IdentificatioNO" class="control-label"></label>
                                <input asp-for="IdentificatioNO" class="form-control" />
                                <span asp-validation-for="IdentificatioNO" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-2 mt-0 col-md-4">
                                <label asp-for="EnrollmentYearM" class="control-label"></label>
                                <input id="AcademicYearName" name="AcademicYearName" disabled asp-for="EnrollmentYearM" class="form-control  text-center" />

                            </div>
                            <div class="form-group mb-2 mt-0 col-md-4">
                                <label asp-for="EnrollmentYearM" class="control-label"></label>
                                <input id="AcademicYearName" name="AcademicYearName" disabled asp-for="EnrollmentYearM" class="form-control  text-center" />

                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Sex" class="control-label"></label>
                                <select asp-for="Sex" class="form-control text-center"
                                        asp-items="Html.GetEnumSelectList<Sex>()"></select>
                                <span asp-validation-for="Sex" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="NationalityId" class="control-label"></label>
                                <select asp-for="NationalityId" class="form-control text-center"
                                        asp-items="@(new SelectList(Model.Nationalities,"Id","NationalityName"))"></select>
                                <span asp-validation-for="NationalityId" class="text-danger"></span>
                            </div>


                            <div class="form-group col-md-4">
                                <label asp-for="BirthPlaceId" class="control-label"></label>
                                <select id="CounteryList" asp-for="BirthPlaceId" class="form-control text-center "
                                        asp-items="@(new SelectList(Model.Nationalities,"Id","CountryName"))"></select>
                                <span asp-validation-for="BirthPlaceId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="GovernorateId" class="control-label"></label>
                                <select id="GovernorateList" asp-for="GovernorateId" class="form-control text-center"
                                        asp-items="@(new SelectList(Model.Governorates,"Id","GovernorateName"))">
                                </select>
                                <span asp-validation-for="GovernorateId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="BirthDate" class="control-label"></label>
                                <input asp-for="BirthDate" class="form-control text-center" data-val="true" data-val-date="الرجاء ادخال الصغية الصحيحة للتاريخ" data-val-required="الرجاء ادخال التاريخ" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group mt-4">
                            <input type="submit" value="حفظ" class="col-2 btn btn-primary btn-sm" />
                            <a class="btn btn-secondary  btn-sm" asp-action="Details" asp-route-id="@Model.AcademicID">إلغاء الامر</a>
                            <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
        $("#CounteryList").on("change", function () {
            var url = '@Url.Content("~/")' + "StPersonalData/GetGovernorate";
            var ddlsource = "#CounteryList";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#GovernorateList").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#GovernorateList").html(items);
            })
        })
    })
    </script>
}
