@model IEnumerable<CollegeGradingSys.Models.StPersonalData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                <input id="checkallCheckbox"  type="checkbox">               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificatioNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentYearM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentYearH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
                string selectedRow = "";
                if (item.AcademicID == (int?)ViewData["AcademicID"])
                {
                selectedRow = "table-success";
                }
        <tr class="@selectedRow">
            <th class="text-center">
                <input class="mycheckbox" type="checkbox">
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.StName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificatioNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentYearM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentYearH)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.AcademicID">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.AcademicID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AcademicID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AcademicID">Delete</a>
            </td>
        </tr>
            }
        </tbody>
</table>
<script>
    $(function () {
        $("#checkallCheckbox").click(function () {
            $(".mycheckbox").attr('checked', this.checked);
        });

        $(".mycheckbox").click(function () {
            if (!this.checked) {
                $("#checkallCheckbox").attr('checked', false);
            }
            else if ($(".mycheckbox").length == $(".mycheckbox:checked").length) {
                $("#checkallCheckbox").attr('checked', true);
            }
        });
    }
</script>
