
@model PagedList.IPagedList<CollegeGradingSys.Models.StPersonalData>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>

        البحث بالاسم : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().AcademicID)
            </th>
            <th>
                @Html.ActionLink("اسم الطالب", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IdentificatioNO)
            </th>
            <th>
                @Html.ActionLink("الجنس", "Index", new { sortOrder = ViewBag.SexSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EnrollmentYearM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EnrollmentYearH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StAcademicDatas.LastOrDefault().Specialization.SpecializationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StAcademicDatas.LastOrDefault().StStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StAcademicDatas.LastOrDefault().StLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificatioNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentYearM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentYearH)
                </td>
                @if (item.StAcademicDatas != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.StAcademicDatas.LastOrDefault().Specialization.SpecializationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StAcademicDatas.LastOrDefault().StStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StAcademicDatas.LastOrDefault().StLevel)

                    </td>

                }
                else
                {
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>

                }



                <td>
                    <a asp-action="Edit" asp-route-id="@item.AcademicID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AcademicID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AcademicID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
