@model CollegeGradingSys.ViewModels.StAcademicDataDataViewModel

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService


@{
    ViewData["Title"] = "السجل التفصيلي ";
    ViewData["PageName"] = "السجل الاكاديمي التفصيلي للطالب";
    //ViewData["SubPageName"] = "القائمة الرئسية";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <p>
            @if (Model.IsCanRegisterInCurrentYear)
            {
                <a asp-action="Create" class="btn btn-secondary btn-sm" asp-route-id="@Model.AcademicID">تقييد الطالب</a>
            }
        </p>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @ViewBag.Message

            </div>
        }
        <div class="card mb-4">

            <div class="card-body">

                <div class="row ">
                    <div class="form-group col-md-6">
                        <label asp-for="AcademicID" class="control-label"></label>
                        <input asp-for="AcademicID" readonly class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="StName" class="control-label"></label>
                        <input asp-for="StName" readonly class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-12">
                <div class="card">
                    <div class="card-header ">
                        <div class=" container">
                            <span class="badge bg-primary  "> مقيد</span>
                            <span class="badge bg-info  ">ناجح</span>
                            <span class="badge bg-danger  ">راسب</span>
                            <span class="badge bg-secondary  ">منحسب</span>
                            <span class="badge bg-warning  ">موقف قيد</span>
                            <span class="badge bg-success  ">متخرج</span>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 5%;">
                                            العام الدراسي
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 15%;">
                                            الدفعة
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 5%;">
                                            المستوى
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 5%;">
                                            الفصل الدراسي
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            نظام الدراسة
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 5%;">
                                            النسبة
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            التقدير
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 5%;">
                                            المعدل التراكمي
                                        </th>
                                        <th th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            حالة الطالب
                                        </th>
                                        <th scope="col" style="width: 30%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.StAcademicDatas)
                                    {
                                        <tr>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearName)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.Batch.BatchName)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.StLevel)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.Term)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.StudyType)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.Average)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.Valuation)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @Html.DisplayFor(modelItem => item.GPA)
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @switch (item.StStatus)
                                                {
                                                    case StStatus.مقيد:
                                                        <span class="badge bg-primary">@item.StStatus</span>
                                                        break;
                                                    case StStatus.ناجح:
                                                        <span class="badge bg-info">@item.StStatus</span>
                                                        break;
                                                    case StStatus.راسب:
                                                        <span class="badge bg-danger ">@item.StStatus</span>
                                                        break;
                                                    case StStatus.منحسب:
                                                        <span class="badge bg-secondary">@item.StStatus</span>
                                                        break;
                                                    case StStatus.موقف_قيد:
                                                        <span class="badge bg-warning ">@item.StStatus</span>
                                                        break;
                                                    case StStatus.متخرج:
                                                        <span class="badge bg-success">@item.StStatus</span>
                                                        break;
                                                }
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                @if ((await authorizationService.AuthorizeAsync(User, "AllStCourseGradePolicy")).Succeeded)
                                                {
                                                    <a asp-action="AllStCourseGrade" asp-controller="CourseGrade" class="btn btn-secondary btn-sm" asp-route-id="@item.Id">الدرجات</a>
                                                }
                                                @if (item.AcademicYear.IsCurrentYear == true)
                                                {
                                                    @if ((await authorizationService.AuthorizeAsync(User, "EditStAcademicDataPolicy")).Succeeded)
                                                    {
                                                        <a asp-action="Edit" class="btn btn-outline-success btn-sm align-self-center" asp-route-id="@item.Id">
                                                            <i class="fas fa-edit" width="17" height="17"></i>
                                                        </a>
                                                        }
                                                    }
                                                    @*<a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.Id">تفاصيل</a>*@
                                                    @if (item.StStatus == StStatus.متخرج)
                                                    {
                                                        @if ((await authorizationService.AuthorizeAsync(User, "GraduationCertificatePolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-route-id="@item.Id">شهادة التخرج</a>
                                                        }
                                                        @if ((await authorizationService.AuthorizeAsync(User, "GraduationStatementPolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-action="PrintGraduatStatement"  asp-route-id="@item.Id">افادة</a>
                                                        }
                                                    }
                                                    @if (item.StStatus == StStatus.مقيد)
                                                    {
                                                        @if ((await authorizationService.AuthorizeAsync(User, "StudyConfirmationPolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-action="PrintConfEnroll" asp-route-id="@item.Id">تأكيد الدراسة</a>
                                                        }
                                                        
                                                        @if ((await authorizationService.AuthorizeAsync(User, "StudyConfirmationPolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-action="PrintGradeReport" asp-route-id="@item.Id">تأكيد الدراسة</a>
                                                        }
                                                        
                                                       @* @if ((await authorizationService.AuthorizeAsync(User, "StatementThreeYearsPolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-action="PrintAlmushayakhaStatement" asp-route-id="@item.Id">افادة ثلاثة سنوات</a>

                                                        }*@
                                                    }
                                                    @if (item.StStatus == StStatus.ناجح && item.StLevel == Level.الشامل)
                                                    {
                                                        @if ((await authorizationService.AuthorizeAsync(User, "StatementAfterComprehensivePolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-route-id="@item.Id">افادة بعد الشامل</a>
                                                        }
                                                    }
                                                    @if (item.StStatus == StStatus.ناجح && item.StLevel == Level.السابع)
                                                    {
                                                        @if ((await authorizationService.AuthorizeAsync(User, "StatementThreeYearsPolicy")).Succeeded)
                                                        {
                                                            <a class="btn btn-dark btn-sm" asp-route-id="@item.Id">افادة ثلاثة سنوات</a>

                                                        }
                                                    }

                                                    @*<a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">حذف</a>*@
                                                </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

<script>

</script>
