@model CollegeGradingSys.Models.StAcademicData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StAcademicData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Average)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Average)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valuation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valuation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCurrentYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCurrentYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
