@model CollegeGradingSys.ViewModels.StAcademicDataIndexViewModel

@{
    ViewData["Title"] = "البيانات الاكاديمية للطلاب";
}


<div class="card mb-4">

    <div class="card-body">
        <div class="bg-white">
            <h5 class="mb-4">  <span style="margin-left:6px;" data-feather="list"></span>البيانات الاكاديمية للطلاب</h5>
            <h6 class="m-1">القائمة الرئسية</h6>
            <hr class="mb-4 mt-0">
            <div class="card mb-4">

                <div class="card-body">
                    @using (Html.BeginForm("Index", "StAcademicData", FormMethod.Get))
                    {
                        <div class="row ">
                            <div class="form-group col-md-4">
                                <label class="control-label"> اسم الطالب</label>
                                <input id="StNameSearch" value="@ViewBag.CurrentFilter" name="StNameSearch" class="form-control " />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">العام</label>
                                <select id="AcademicYearId" name="AcademicYearId" class="form-control text-center "
                                        asp-items="ViewBag.AcademicYearId"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">الدفعة</label>
                                <select id="BatchId" name="BatchId" class="form-control text-center"
                                        asp-items="ViewBag.BatchId"></select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">المستوى</label>
                                <select id="Level" asp-for="Level" name="Level" class="form-control text-center"
                                        asp-items="Html.GetEnumSelectList<Level>()">
                                    <option value="-1">-- الكل --</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">الفصل الدراسي</label>
                                <select id="Term" asp-for="Term" name="Term" class="form-control text-center"
                                        asp-items="Html.GetEnumSelectList<Term>()">
                                    <option value="-1">-- الكل --</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">حالة الطالب</label>
                                <select id="StStatus" asp-for="StStatus" name="StStatus" class="form-control text-center"
                                        asp-items="Html.GetEnumSelectList<StStatus>()">
                                    <option value="-1">-- الكل --</option>
                                </select>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="IsCurrentYear" type="checkbox" asp-for="IsCurrentYear" /> @Html.DisplayNameFor(model => model.IsCurrentYear)
                                </label>
                            </div>
                            <hr class="my-4">
                        </div>
                        <div class="container">
                            <input type="submit" value="تصفية" class="btn btn-secondary btn-sm" />
                            <a asp-action="Index" class="btn btn-secondary btn-sm" asp-route-id=-1>إلغاء التصفية</a>
                        </div>


                    }
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class=" container">
                        <span class="badge bg-primary  "> مقيد</span>
                        <span class="badge bg-secondary  ">منحسب</span>
                        <span class="badge bg-warning  ">موقف قيد</span>
                        <span class="badge bg-success  ">متخرج</span>
                    </div>
                    <hr class="my-4">

                    @*@using (Html.BeginForm("NextLevel", "StAcademicData", FormMethod.Get))*@
                    <form asp-action="NextLevel" asp-controller="StAcademicData" method="get">
                        @*{*@

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input id="checkallCheckbox" type="checkbox">
                                    </th>
                                    <th>
                                        <span>رقم القيد</span>
                                    </th>
                                    <th>
                                        <span>اسم الطالب</span>
                                    </th>
                                    <th>
                                        <span>الدفعة</span>
                                    </th>
                                    <th>
                                        <span>العام الدراسي</span>
                                    </th>
                                    <th>
                                        <span>المستوى</span>
                                    </th>
                                    <th>
                                        <span>الفصل الدراسي</span>
                                    </th>
                                    <th>
                                        <span>الفصل الحالي</span>
                                    </th>
                                    <th>
                                        <span>حالة الطالب</span>
                                    </th>
                                    <th>
                                        <span>النسبة</span>
                                    </th>
                                    <th>
                                        <span>التقدير</span>
                                    </th>
                                    <th>
                                        <span>المعدل التراكمي</span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.StPersonalDataVMs.Count; i++)
                                {
                                    <tr>
                                        <th class="text-center">
                                            <input type="checkbox" asp-for="@Model.StPersonalDataVMs[i].IsSelected" />
                                            @*<input value="@Model.StPersonalDataVMs[i].IsSelected" id="AcademicID" name="IsSelected" type="checkbox">*@
                                        </th>
                                        <td>
                                            @Html.DisplayFor(m => m.StPersonalDataVMs[i].AcademicID)
                                            <input type="hidden" asp-for="@Model.StPersonalDataVMs[i].AcademicID" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => m.StPersonalDataVMs[i].StName)
                                        </td>
                                        @if (Model.StPersonalDataVMs[i].StAcademicData != null)
                                        {
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.Batch.BatchName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.AcademicYear.AcademicYearName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.StLevel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.Term)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.IsCurrentYear)
                                            </td>
                                            <td>

                                                @switch (@Model.StPersonalDataVMs[i].StAcademicData.StStatus)
                                                {
                                                    case StStatus.مقيد:
                                                        <span class="badge bg-primary"> @Model.StPersonalDataVMs[i].StAcademicData.StStatus</span>
                                                        break;
                                                    case StStatus.منحسب:
                                                        <span class="badge bg-secondary"> @Model.StPersonalDataVMs[i].StAcademicData.StStatus</span>
                                                        break;
                                                    case StStatus.موقف_قيد:
                                                        <span class="badge bg-warning ">@Model.StPersonalDataVMs[i].StAcademicData.StStatus</span>
                                                        break;
                                                    case StStatus.متخرج:
                                                        <span class="badge bg-success">@Model.StPersonalDataVMs[i].StAcademicData.StStatus</span>
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.Average)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.GPA)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.StPersonalDataVMs[i].StAcademicData.Valuation)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>

                                            <td class="align-items-center" colspan="3">
                                                لا توجد بيانات  أكاديمية
                                                <a asp-action="Create" asp-controller="StAcademicData" class="btn btn-outline-secondary align-self-center btn-sm" asp-route-id="@Model.StPersonalDataVMs[i].AcademicID">إضافة</a>
                                            </td>

                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        }
                                        <td>
                                            @if (Model.StPersonalDataVMs[i].StAcademicData != null)
                                            {
                                                <a asp-action="AllStCourseGrade" asp-controller="CourseGrade" class="btn btn-secondary btn-sm" asp-route-id="@Model.StPersonalDataVMs[i].StAcademicData.Id">الدرجات</a>
                                            }
                                            else
                                            {
                                                <a href="#" aria-disabled="true" style="pointer-events: none" class="btn btn-secondary disabled btn-sm">الدرجات</a>

                                            }
                                            <a asp-action="AllStAcademicDatas" asp-controller="StAcademicData" class="btn btn-secondary btn-sm" asp-route-id="@Model.StPersonalDataVMs[i].AcademicID">السجل كامل</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*}*@
                        <div class="container">
                            <input type="submit" value="الانتقال المستوى التالي" class="btn btn-secondary btn-sm" />

                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            /*alert("I am an alert box!");*/
            $("#checkallCheckbox").click(function () {
                $(".mycheckbox").attr('checked', this.checked);
            });

            $(".mycheckbox").click(function () {
                if (!this.checked) {
                    $("#checkallCheckbox").attr('checked', false);
                }
                else if ($(".mycheckbox").length == $(".mycheckbox:checked").length) {
                    $("#checkallCheckbox").attr('checked', true);
                }
            });
        })
    </script>
}
