@model CollegeGradingSys.ViewModels.PrintAlmushayakhaStatementVM
@{
    Layout = "_PrintLayout";
    ViewData["Title"] = "افادة مرحلة المشيخة ";
}


@section PrintLayoutCss {

     <style>
          .addressTxtStyle {
          text-align: center;
         font-family: "PT Bold Heading";
         text-decoration: underline;
         font-weight: bold;
         font-size:34px;
         }   
          .ParagraphStyle {         
         font-family: "Simplified Arabic";          
         font-size:34px;
           direction: rtl;        
          text-indent: 50px;
          text-align: justify;         
          white-space: normal;
          margin:5px 20px 20px 20px;
         }  
          .DoaaTxtStyle {
          text-align: center;
         font-family: "DecoType Naskh";        
         font-size:30px;
         }   
          .NameStyle {
          text-align: center;
         font-family: "DecoType Naskh Extensions";        
         font-size:30px;
       /*  margin-left:75%;*/
         }   
     </style>
   
  

}


<!-- Main content -->
<section class="page" data-size="A4">

    <div class="container  mt-5" dir="rtl" >
        <div class="row mt-5 justify-content-around ">
            <div class=" col-4 text-center  "></div>
            <div class=" col-4 text-center">الموافق:<span>@Model.PrintConfEnrollDate </span>م </div>
        </div> 
         <div class="row mt-2 justify-content-center addressTxtStyle ">
           إفـــادة
        </div> 
        <div class="row mt-5  justify-content-start DoaaTxtStyle ">
          إلــى مــــن يــــــهمه الأمــــــــر 
        </div>
           <div class="row mt-5  justify-content-center DoaaTxtStyle ">
           السلام عليكم ورحمة الله وبركاته
        </div>
          <div class="row mt-5  justify-content-start DoaaTxtStyle ">
           أما بعد :
        </div>
         <div class="row  mb-5 mt-3  ">            
             <p  class=" ParagraphStyle  ">
                 تفيــد جامعـــــــــة الإيمـــــــان فــــــرع حضــــرمــــوت بـأن طـالـب/
 <span>@Model.StName </span> المولـود في:  <span>@Model.Birthcountry </span> 

 عام: <span>@Model.BirthDate </span>م وجنسيته: <span>@Model.Nationality</span> مقيد لدينا برقم (<span>@Model.AcademicID</span>) قد انهى مساق البكالوريوس سنة <span>@Model.GraduationYearH</span> هـ الموافق <span>@Model.GraduationYear</span> م بعد أن درس أربع سنوات في العلوم الشرعية والعربية من مدة الدراسة بالجامعة.

             </p>
             <p  class=" ParagraphStyle  ">
                تفيدكم نيابة الدراسات العليا والبحث العلمي  بــــــأن
الطالب / ايوب محفوظ سالم قبان المولود: في حضرموت عام: 1991م  وجنسيته: يمني مقيد لديها برقم (33030004)   وقد أكمل دراسة ثلاث سنوات من مرحلة المشيخة (الماجستير ) كلية (الشريعة) قسم ( الفقه )  سنة 1440 هـ الموافق  2019 م وإجراءات تخرجه قيد المتابعة.

             </p>
        </div> 
      
         <div class="row mt-2  justify-content-center DoaaTxtStyle ">
           وقد أعطيت له هذه الإفادة بناءً على طلبه.
        </div>
         <div class="row mt-5  justify-content-center DoaaTxtStyle ">
           والله الموفق
        </div>
        
         <div class="row mt-5 justify-content-around ">
            <div class=" col-3 text-center  ">
                  <div class="  mt-5  NameStyle ">
                        <span>@Model.StDepartmentHead </span>               
                    </div>        
                <div class=" NameStyle ">
                         رئيس قسم شئون الطلاب
                     </div> 
            </div>
           <div class=" col-4 text-center  ">
                <div class="  mt-5  NameStyle ">
                        <span>@Model.BranchHeadName </span>               
                    </div>      
                <div class="   NameStyle ">
                         رئيس فرع الجامعة بحضرموت
                     </div> 
            </div>
        </div> 
       
        
        
   </div>
</section>
@section Scripts {
  

    <script>
      
    </script>
}
