@using CollegeGradingSys.ViewModels.StAcademic
@model PrintConfEnrollVM
@{
    Layout = "_PrintLayout";
    ViewData["Title"] = "تأكيد قيد";
}


@section PrintLayoutCss {

     <style>
          .addressTxtStyle {
          text-align: center;
         font-family: "PT Bold Heading";
         text-decoration: underline;
         font-weight: bold;
         font-size:34px;
         }   
          .ParagraphStyle {         
         font-family: "Simplified Arabic";          
         font-size:34px;
           direction: rtl;        
          text-indent: 50px;
          text-align: justify;         
          white-space: normal;
         }  
          .DoaaTxtStyle {
          text-align: center;
         font-family: "DecoType Naskh";        
         font-size:30px;
         }   
          .NameStyle {
          text-align: center;
         font-family: "DecoType Naskh Extensions";        
         font-size:30px;
       /*  margin-left:75%;*/
         }   
     </style>
   
  

}


<!-- Main content -->
<section class="page" data-size="A4">

    <div class="container  mt-5" dir="rtl" >
        <div class="row justify-content-around ">
            <div class=" col-4 text-center  ">التاريخ:<span>@Model.PrintConfEnrollDateH </span>هـ </div>
            <div class=" col-4 text-center">الموافق:<span>@Model.PrintConfEnrollDate </span>م </div>
        </div> 
         <div class="row mt-5 justify-content-center addressTxtStyle ">
           تأكيد قيد
        </div> 
         <div class="row m-5   ">
             <p class=" ParagraphStyle ">
                تؤكــد جامعــــــــة الإيمــــــان فـــــرع حضـــرمـــوت بـأن الطالب/ <span>@Model.StName </span> <span>@Model.Nationality</span> الجنسية مقيد لديها برقم (<span>@Model.AcademicID</span>) وهو يدرس في المستوى <span>@Model.StLevel</span> للعام الجامعـي <span>@Model.AcademicYearName</span>، وقد اعطي له هذا التأكيد بناءً على طلبه..   

             </p>
        </div> 
         <div class="row mt-5  justify-content-center DoaaTxtStyle ">
           والله الموفق
        </div>
        
        <div class="row mt-5  justify-content-end">
            <div class=" col-3 mt-5  NameStyle ">
                <span>@Model.StDepartmentHead </span>               
            </div>
             <div class="col-2">

             </div> 
          </div> 
        
        <div class="row mt-3  justify-content-end">
            <div class=" col-3  NameStyle ">
           رئيس قسم شئون الطلاب
             </div> 
           <div class="col-2">

             </div> 
         </div> 
        
        
   </div>
</section>
@section Scripts {
  

    <script>
      
    </script>
}
