@using CollegeGradingSys.ViewModels.Course
@model CourseDetailsViewModel

@{
    ViewData["Title"] = "التفصيل";
    ViewData["PageName"] = "إدارة المواد الدراسية";
    //ViewData["SubPageName"] = "القائمة الرئسية";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 px-0 offset-md-2">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            التفصيل
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.Level)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.Level)
                            </div>

                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.Term)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.Term)
                            </div>

                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.CourseName)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.CourseName)
                            </div>

                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.Course_sGender)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.Course_sGender)
                            </div>
                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.BigGrade)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.BigGrade)
                            </div>

                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.SmallGrade)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.SmallGrade)
                            </div>

                            <div class="col-sm-3  my-2">
                                @Html.DisplayNameFor(model => model.IsSubCourse)
                            </div>

                            @if (Model.IsSubCourse)
                            {
                                <div class="col-sm-9 my-2">
                                    <span class="badge bg-warning">مادة فرعية</span>
                                </div>
                                <div class="col-sm-3 my-2">
                                    @Html.DisplayNameFor(model => model.ParentId)
                                </div>
                                <div class="col-sm-9 my-2">
                                    @Html.DisplayFor(model => model.ParentCourseName)
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-9 my-2">
                                    <span class="badge bg-success">مادة أساسية</span>
                                </div>
                            }

                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.Note)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.Note)
                            </div>

                        </div>
                    </div>

                    <div class="card-footer">
                        <!-- Modal placeholder -->
                        <div id="modal-placeholder"></div>
                        <button type="button" class="btn btn-success btn-sm align-self-center " data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Edit", "Course", new { id = Model.Id })">
                            تعديل
                        </button>
                       @*  <a asp-action="Edit" class="btn btn-success btn-sm align-self-center" asp-route-id="@Model.Id">تعديل</a> *@
                        <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>