@model CollegeGradingSys.Models.Course

@{
    ViewData["Title"] = "التفصيل";
}

<div class="card mb-4">
    <div class="card-body">
        <div class="bg-white">
            <h5 class="mb-4">  <span style="margin-left:6px;" data-feather="edit"></span>إدارة المواد</h5>
            <h6 class="m-1">التفصيل</h6>
            <hr class="mb-2 mt-0">
            <div class=" row col-md-12">
                <div class="row my-5">
                    <div class="col-sm-2 my-2">
                        @Html.DisplayNameFor(model => model.Level)
                    </div>
                    <div class="col-sm-10 my-2">
                        @Html.DisplayFor(model => model.Level)
                    </div>
                    <div class="col-sm-2 my-2">
                        @Html.DisplayNameFor(model => model.Term)
                    </div>
                    <div class="col-sm-10 my-2">
                        @Html.DisplayFor(model => model.Term)
                    </div>
                    <div class="col-sm-2 my-2">
                        @Html.DisplayNameFor(model => model.CourseName)
                    </div>
                    <div class="col-sm-10 my-2">
                        @Html.DisplayFor(model => model.CourseName)
                    </div>
                    <div class="col-sm-2 my-2">
                        @Html.DisplayNameFor(model => model.BigGrade)
                    </div>
                    <div class="col-sm-10 my-2">
                        @Html.DisplayFor(model => model.BigGrade)
                    </div>
                    <div class="col-sm-2 my-2">
                        @Html.DisplayNameFor(model => model.SmallGrade)
                    </div>
                    <div class="col-sm-10 my-2">
                        @Html.DisplayFor(model => model.SmallGrade)
                    </div>

                    <div class="col-sm-2  my-2">
                        @Html.DisplayNameFor(model => model.IsSubCourse)
                    </div>

                    @if (Model.IsSubCourse)
                    {
                        <div class="col-sm-10 my-2">
                            <span class="badge bg-warning">مادة فرعية</span>
                        </div>
                        <div class="col-sm-2 my-2">
                            @Html.DisplayNameFor(model => model.ParentId)
                        </div>
                        <div class="col-sm-10 my-2">
                            @Html.DisplayFor(model => model.Parent.CourseName)
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-10 my-2">
                            <span class="badge bg-success">مادة أساسية</span>
                        </div>
                    }
                    <div class="col-sm-2 my-2">
                        @Html.DisplayNameFor(model => model.Note)
                    </div>
                    <div class="col-sm-10 my-2">
                        @Html.DisplayFor(model => model.Note)
                    </div>

                </div>
                <hr class="mb-2 mt-0">
                <div>
                    <a asp-action="Edit" class="btn btn-primary btn-sm align-self-center" asp-route-id="@Model.Id">تعديل</a>
                    <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
                </div>
            </div>
        </div>
    </div>
</div>