@model CourseIndexViewModel

@using CollegeGradingSys.Models.Enums
@using CollegeGradingSys.ViewModels.Course
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "إدارة المواد";
    ViewData["PageName"] = "إدارة المواد";
    ViewData["SubPageName"] = "القائمة الرئسية";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <p>
            @if ((await authorizationService.AuthorizeAsync(User, "CreateCoursePolicy")).Succeeded)
            {
                <!-- Modal placeholder -->
                <div id="modal-placeholder"></div>

                @*<a asp-action="Create" class="btn btn-secondary  col-2 btn-sm ">جديد</a>*@
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary col-2 btn-sm" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Create","Course")">
                    <i class="fas fa-plus mr-3"></i>
                    جديد
                </button>
            }

        </p>

        @using (Html.BeginForm("Index", "Course", FormMethod.Get))
        {
        <div class="card mb-4">

            <div class="card-body">
                <div class="row ">
                    <div class="form-group col-md-4">
                        <label asp-for="SpecializationId" class="control-label"></label>
                         <select asp-for="SpecializationId" class="form-control text-center"
                                asp-items="Model.SpecializationsList">
                            <option value="">-- الكل --</option>
                        </select>                      

                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">المستوى</label>
                        <select id="Level" asp-for="Level" name="Level" class="form-control text-center"
                                asp-items="Html.GetEnumSelectList<Level>()">
                            <option value="-1">-- الكل --</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">الفصل الدراسي</label>
                        <select id="Term" asp-for="Term" name="Term" class="form-control text-center"
                                asp-items="Html.GetEnumSelectList<Term>()">
                            <option value="-1">-- الكل --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="تصفية" class="btn btn-secondary btn-sm" />
                <a asp-action="Index" class="btn btn-secondary btn-sm" asp-route-clear="true" asp-route-id=-1>إلغاء التصفية</a>
            </div>
        </div>
        }
            <div class="row">
                <div class=" col-12">
                    <div class="card">
                        <div class="card-header ui-sortable-handle" style="cursor: move;">
                            <div class=" container">
                                <span class="badge bg-warning  ">مادة فرعية</span>
                                <span class="badge bg-success  ">مادة أساسية</span>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">                           
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            التخصص
                                        </th>
                                        <th scope="col" rowspan="2" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            المستوى
                                        </th>
                                        <th scope="col" rowspan="2" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            الفصل
                                        </th>
                                        <th scope="col" rowspan="2" class=" col  th-font-size text-center" style="vertical-align: middle;width: 15%;">
                                            اسم المادة
                                        </th>
                                        <th scope="col" colspan="2" class=" col  th-font-size text-center" style="vertical-align: middle;width: 15%;">
                                            الدرجة
                                        </th>
                                        <th scope="col" class=" col  th-font-size text-center" style="vertical-align: middle;width: 10%;">
                                            نوع المادة
                                        </th>
                                        <th scope="col" rowspan="2" class=" col  th-font-size text-center" style="vertical-align: middle;width: 15%;">
                                            اسم المادة الاساسية
                                        </th>
                                        <th rowspan="2" style="width: 15%;"></th>
                                    </tr>
                                    <tr>


                                        <th scope="col" class="col-1 text-center">
                                            الكبرى
                                        </th>
                                        <th scope="col" class="col-1 text-center">
                                            الصغرى
                                        </th>
                                        <th scope="col" class="text-center">
                                            (فرعية/أساسية)
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Courses)
                                    {
                                        <tr>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Specialization.SpecializationName)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Level)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Term)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.CourseName)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.BigGrade)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.SmallGrade)
                                            </td>
                                            <td class="text-center">
                                                @if (item.IsSubCourse)
                                                {
                                                    <span class="badge bg-warning">مادة فرعية</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-success">مادة أساسية</span>
                                                }
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.Parent.CourseName)
                                            </td>
                                            <td class="text-center">
                                               
                                                @if ((await authorizationService.AuthorizeAsync(User, "EditCoursePolicy")).Succeeded)
                                                {
                                                     <!-- Modal placeholder -->
                                                <div id="modal-placeholder"></div>
                                                    <button type="button" class="btn btn-outline-success btn-sm align-self-center " data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Edit","Course",new { id = item.Id })">
                                                        <i class="fas fa-edit" width="17" height="17"></i>
                                                    </button>
                                                }
                                                @if ((await authorizationService.AuthorizeAsync(User, "DetailsCoursePolicy")).Succeeded)
                                                {
                                                    <a asp-action="Details" class="btn btn-outline-warning btn-sm align-self-center" asp-route-id="@item.Id">
                                                        <i class="fas fa-eye" width="17" height="17"></i>
                                                    </a>
                                                }
                                                @if ((await authorizationService.AuthorizeAsync(User, "DeleteCoursePolicy")).Succeeded)
                                                {
                                                    <a asp-action="Delete" class="btn btn-outline-danger btn-sm align-self-center" asp-route-id="@item.Id">
                                                        <i class="fas fa-trash-alt" width="17" height="17"></i>
                                                    </a>
                                                }
                                               

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- /.content -->