@model CollegeGradingSys.Models.AcademicYear

@{
    ViewData["Title"] = "التفصيل";
    ViewData["PageName"] = "إدارة العام الجامعي";
    //ViewData["SubPageName"] = "القائمة الرئسية";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 px-0 offset-md-2">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">
                            التفصيل
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.AcademicYearStart)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.AcademicYearStart)
                            </div>
                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.AcademicYearEnd)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.AcademicYearEnd)
                            </div>
                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.AcademicYearName)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.AcademicYearName)
                            </div>
                            <div class="col-sm-3 my-2">
                                @Html.DisplayNameFor(model => model.Note)
                            </div>
                            <div class="col-sm-9 my-2">
                                @Html.DisplayFor(model => model.Note)
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">

                        @if (Model.IsCurrentYear)
                        {
                            <a asp-action="Edit" class="btn btn-success btn-sm align-self-center" asp-route-id="@Model.Id">تعديل</a>
                        }
                        <a class="btn btn-secondary  btn-sm" asp-action="Index">القائمة الرئسية</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
