@model CollegeGradingSys.ViewModels.AcademicYearVM

@{
    ViewData["Title"] = "إدارة العام الجامعي";
}

<div class="card mb-4">

    <div class="card-body">
        <div class="bg-white">
            <h5 class="mb-4">  <span style="margin-left:6px;" data-feather="list"></span>إدارة العام الجامعي</h5>
            <h6 class="m-1">القائمة الرئسية</h6>
            <hr class="mb-4 mt-0">
            <p>
                @if (Model.IsCurrentYearClosed)
                {
                <a asp-action="Create" class="btn btn-secondary btn-sm">عام جديد</a>
                }
                else
        {
            <a tabindex="0" class="btn btn-secondary btn-sm" role="button" data-bs-toggle="popover" data-bs-placement="left" data-bs-trigger="focus" title="عذرا" data-bs-content="يجب اقفال العام السابق  بإدخال جميع درجات المواد لجميع الطلاب واكمال بيانات جميع السجلات الطلابية">عام جديد</a>
        }
                
            </p>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>
                            العام الدراسي
                        </th>
                        <th>
                            العام الدراسي بالهجري
                        </th>
                        <th>
                            تاريخ نهاية العامwe
                        </th>
                        <th>
                            تاريخ نهاية العام
                        </th>
                        <th>العام الحالي</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AcademicYears)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcademicYearName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcademicYearNameH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcademicYearStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AcademicYearEnd)
                        </td>

                        @if (item.IsCurrentYear)
                        {
                            <td>
                                <span class="badge bg-warning">العام الاكاديمي الحالي</span>
                            </td>
                            <td>
                                @*<a asp-action="Index" class="btn btn-secondary btn-sm" asp-controller="Batch" asp-route-id="@item.Id">الدفعات</a>*@
                                <a asp-action="Edit" class="btn btn-primary btn-sm align-self-center" asp-route-id="@item.Id">تعديل</a>
                                <a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.Id">تفاصيل</a>
                                <a asp-action="Delete" class="btn btn-danger btn-sm align-self-center" asp-route-id="@item.Id">حذف</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                
                            </td>
                            <td>
                                @*<a asp-action="Index" class="btn btn-secondary btn-sm" asp-controller="Batch" asp-route-id="@item.Id">الدفعات</a>*@
                                <a asp-action="Details" class="btn btn-warning btn-sm" asp-route-id="@item.Id">تفاصيل</a>
                            </td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>